.post > header {
  border-bottom: 0;
  margin-bottom: 0;
}

cite {
  position: relative;
  top: -2em;
}

article p:first-of-type::first-line {
  font-weight: bold;
}

.tlo-index-excerpt h4 {
  text-align: center;
}
