body {
  background-image: url(_misc(background));
}

#tlo-intro {
  img {
    width: 100px;
    float: left;
    padding-right: 10px;
  }
}

.tlo-image {
  float: right;
  margin-left: 1em;
  width: 50%;
}

.tlo-index-excerpt {
  padding-bottom: _size(element-margin)
}

.tlo-image {
  .caption {
    font-size: 80%;
    text-align: right;
  }
}

.tlo-pagination {
  clear: both;
  text-align: center;
}

.tlo-playlist {
  font-size: 90%;
  .break {
    color: _palette(fg-light);
  }
}
