body {
  background-image: url(_misc(background));
}

#tlo-intro {
  img {
    width: 100px;
    float: left;
    padding-right: 10px;
  }
}

.tlo-index-excerpt {
  padding-bottom: _size(element-margin);
}

.tlo-image {
  float: right;
  margin-left: _size(element-margin);
  width: 50%;

  .caption {
    font-size: 80%;
    text-align: right;
  }
}

.tlo-archives {
  h2 {
    margin: (_size(element-margin) * 0.5) 0 (_size(element-margin) * 0.5) 0;
  }
}

.tlo-excerpt,
.post {
  p {
    hyphens: auto;
    text-align: justify;
  }
  footer {
    font-size: 90%;
  }
}

.tlo-pagination {
  clear: both;
  text-align: center;
}

.tlo-playlist {
  font-size: 90%;
  margin-top: _size(element-margin);

  .break {
    color: _palette(fg-light);
  }
}
