---
import '~/assets/styles/tailwind.css';
import '~/assets/styles/lacking.scss';

import { I18N } from '~/utils/config';

import CommonMeta from '~/components/tlo/meta/CommonMeta.astro';
import Favicons from '~/components/tlo/meta/Favicons.astro';
import CustomStyles from '~/components/tlo/meta/CustomStyles.astro';
import ApplyColorMode from '~/components/tlo/meta/ApplyColorMode.astro';
import Metadata from '~/components/tlo/meta/Metadata.astro';
import SiteVerification from '~/components/tlo/meta/SiteVerification.astro';
import Analytics from '~/components/tlo/meta/Analytics.astro';
import BasicScripts from '~/components/tlo/meta/BasicScripts.astro';

// Uncomment line below to activate View Transitions
// import { ViewTransitions } from 'astro:transitions';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />

    <!-- Uncomment line below to activate View Transitions -->
    <!-- <ViewTransitions fallback="swap" /> -->
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
