---
// --------------
// Main Layout ==
// --------------

// TLO Components
import Page from '~/layouts/tlo/Layout.astro';
import Header from '~/components/tlo/widgets/Header.astro';
import Footer from '~/components/tlo/widgets/Footer.astro';

// Navigation Data
import { headerData, footerData } from '~/navigation';

// Typescript
import type { MetaData } from '~/types';
export interface Props {
  metadata?: MetaData;
}

// Page Metadata
const { metadata } = Astro.props;
---

<Page metadata={metadata}>

  <!-- Header -->
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed />
  </slot>

  <!-- Main -->
  <main>
    <div class="md:flex flex-row">

      <!-- Left Sidebar -->
      <div class="left-sidebar hidden md:block basis-1/4">
        <slot name="sidebar" />
      </div>

      <!-- Content -->
      <div class="content basis-3/4">
        <slot />
      </div>

    </div>  
  </main>

  <!-- Footer -->
  <slot name="footer">
    <Footer {...footerData} />
  </slot>

</Page>
