---
---

#tlo-intro {
  img {
    width: 100px;
    float: left;
    padding-right: 10px;
  }
}

.tlo-image {
  .caption {
    font-size: 80%;
    text-align: right;
  }
}

.tlo-pagination {
  text-align: center;
}
