---
import Layout from '~/layouts/Html.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `Error 404`;
---

<Layout metadata={{ title }}>
  <section class="tlo-not-found">

    <h2 class="tlo-not-found-header">
      Exceptional State: 404
    </h2>

    <h3>Our sincere apologies.</h3>

    <p>It appears you are trying to intercept content that has been deliberately relocated or terminated, or worst, perhaps this content never existed at all.</p>

    <p>
      We recommend you investigate the options available in the navigational contraption situated at the apex of this page, or perhaps you can 
      <a rel="noopener noreferrer" href={getHomePermalink()}>examine the Primary Index</a>
    </p>

  </section>
</Layout>
