---
// ------------
// Home Page --
// ------------

// Configuration
import { TLO } from "~/utils/config";

// TLO Components
import Layout from '~/layouts/tlo/Main.astro';
import CategoryHeader from '~/tlo/widgets/CategoryHeader.astro';
import SiteIndex from '~/tlo/widgets/SiteIndex.astro';
import LatestPosts from '~/tlo/widgets/LatestPosts.astro';
import YourHost from "~/tlo/widgets/YourHost.astro";
import NextAirdate from "~/tlo/widgets/NextAirdate.astro";

// Page Metadata
const metadata = {
  title: 'The Lacking Organization',
  ignoreTitleTemplate: true,
};
const homeCategory = TLO?.categories.home
---

<Layout metadata={metadata}>

  <!-- Your Host / Next Airdate -->
  <div class="tlo-index-airdate tlo-box flex flex-row">
    <div class="basis-1/4">
      <YourHost />
    </div>
    <div class="basis-3/4">
      <NextAirdate />
    </div>
  </div>

  <!-- Contents / Latest Posts -->
  <LatestPosts />

  <!-- Sidebar -->
  <Fragment slot="sidebar">

    <!-- Category Header -->
    <CategoryHeader category={homeCategory} />

    <!-- Index / Categories -->
    <SiteIndex title="Index" />

  </Fragment>
</Layout>
