<script src="https://cdn.jsdelivr.net/npm/amplitudejs@{{ site.amplitude_version }}/dist/amplitude.js" type="text/javascript"></script>
<script type="text/javascript">
  Amplitude.init({
    "songs": [
{% for track in include.post.audio %}
      {
        "name": "{{ track.name }}",
        "artist": "{{ track.artist }}",
        "album": "{{ track.album }}",
        "url": "{{ site.podcast.audio_file_url }}/{{ track.url }}",
        "cover_art_url": {% if track.cover_art_url %}"/images/{{ track.cover_art_url }}"{% else %}"/images/site/audio_file.jpg"{% endif %}
      }
      {% unless forloop.last %}, {% endunless %}
{% endfor %}
    ]
  });
</script>
