<article class="post tlo-excerpt {{ include.post.layout }}">

  <!-- Header -->
  <header>
    <!-- Title -->
    {% include components/post_title.html post=include.post %}
    <!-- Meta -->
    {% include components/post_meta.html post=include.post %}
  </header>

  <!-- Image -->
  {% include components/post_image.html post=include.post %}

  <!-- Excerpt -->
  <p>{{ include.post.excerpt }}</p>

  <!-- Footer -->
  {% include components/post_footer.html post=include.post %}

  <ul class="tlo-pagination actions pagination">
    <li>
      <a class="button big next" href="{{ include.post.url }}">More</a>
    </li>
  </ul>

</article>
