{% assign category_name = include.category %}
{% assign category_data = site.data.category_index[category_name] %}
{% assign latest = site.categories[category_name] | first %}
<li>
  <a href="/{{ category_name }}">
    <h3>
      {% if category_name == 'home' %}
        Home
      {% else %}
        {{ category_data.title }}
      {% endif %}
    </h3>
  </a>
  <p>{{ category_data.description }}</p>
  {% unless category_name == 'home' %}
    Latest: <a href="{{ latest.url }}">{{ latest.title }}</a>
  {% endunless %}
</li>
