{% assign category_name = include.category %}
{% assign category_data = site.data.category_index[category_name] %}
{% assign latest = site.categories[category_name] | first %}
<li>
  {% if category_name == 'home' %}
      <a href="/">
        <h3>Home</h3>
      </a>
      {% else %}
      <a href="/{{ category_name }}">
        <h3>{{ category_data.title }}</h3>
      </a>
      {% endif %}
  <p>{{ category_data.description }}</p>
  {% unless category_name == 'home' %}
    Latest: <a href="{{ latest.url }}">{{ latest.title }}</a>
  {% endunless %}
</li>
