{% assign next_airdate = site.data.schedule | where:"future", "x" | sort: "date" | first %}

<div class="next-airdate">
  <a href="{% link pages/radio_activity.md %}">
    <p class="airdate">Next airdate:<br/>{{ next_airdate['date'] | date: "%b %-d, %Y" }}, {{ next_airdate['start_time'] }} - {{ next_airdate['end_time'] }} {{ next_airdate['time_zone'] }}</p>
  </a>
  {% if next_airdate['location'] == 'kafm' %}
    <p class="location"><a href="https://www.kafmradio.org" target="_blank">KAFM Grand Junction 88.1 FM</a></p>
  {% else %}
    <p class="location"><a href="https://www.mixcloud.com/live/the-lacking-org/" target="_blank">Streaming on Mixcloud</a></p>
  {% endif %}
  {% if page.layout == 'home' %}<p id="page-link"><a class="button" href="{% link pages/radio_activity.md %}">Schedule + More &raquo;</a></p>{% endif %}
  <p id="stream-link">
    {% if next_airdate['location'] == 'kafm' %}
      <a class="button" href="http://www.radiorethink.com/tuner/?stationCode=KAFM&amp;stream=lo" onclick="window.open(this.href, '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=yes,dependent=no,width=350,left=1,height=800,top=1'); return false;">Listen now!</a>
    {% else %}
      <a class="button" href="https://www.mixcloud.com/live/the-lacking-org/" target="_blank">Listen now!</a>
    {% endif %}
  </p>
</div>
