{% if include.paginator.total_pages > 1 %}
<ul class="actions pagination">
    {% if include.paginator.previous_page %}
    <li>
        <a class="button big previous" href="{{ include.paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer Posts</a>
    </li>
    {% endif %}
    {% if include.paginator.next_page %}
    <li>
        <a class="button big next" href="{{ include.paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts</a>
    </li>
    {% endif %}
</ul>
{% endif %}
