{% assign playlist = site.data.playlists[include.post.playlist] %}

<table class="tlo-playlist">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th width="33%">Song</th>
      <th width="33%">Artist</th>
      <th width="33%">Notes</th>
    </tr>
  </thead>
  <tbody>
  {% for item in playlist %}
    {% if item["artist"] %}
      <tr class="track">
        <td align="right">{{ item["sequence"] }}</td>
        <td>{{ item["song"] }}</td>
        <td>{{ item["artist"] }}</td>
        <td>{{ item["notes"] }}</td>
      </tr>
    {% else %}
      <tr class="break"><td>&nbsp;</td><td colspan="4">BREAK</td></tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
