<table class="tlo-playlist">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th width="25%">Song</th>
      <th width="25%">Artist</th>
      <th width="25%">Album</th>
      <th width="25%">Notes</th>
    </tr>
  </thead>
  <tbody>
  {% for item in include.playlist %}
    {% if item["artist"] %}
      <tr class="track">
        <td align="right">
          {% if page.layout == 'podcast' %}
            {{ item["podcast_sequence"] }}
          {% else %}
            {{ item["radio_sequence"] }}
          {% endif %}
        </td>
        <td>{{ item["song"] }}</td>
        <td>{{ item["artist"] }}</td>
        <td>{{ item["album"] }}</td>
        <td>{{ item["notes"] }}</td>
      </tr>
    {% else %}
      {% unless item["radio_sequence"] == "00" %}
        <tr class="break"><td>&nbsp;</td><td colspan="4">BREAK</td></tr>
      {% endunless %}
    {% endif %}
  {% endfor %}
  </tbody>
</table>
