{% if include.post.image %}
  {% if page.layout == 'index' %}
    <a href="{{ include.post.url }}" class="image featured">
      <img src="{{ site.baseurl }}/images/{{ include.post.image.src }}" alt="{{ include.post.image.caption }}" />
    </a>
  {% else %}
    <a href="{{ site.baseurl }}/images/{{ include.post.image.src }}" class="image featured" data-lightbox="include.post.image.src" data-title="{{ include.post.image.caption }}">
      <img src="{{ site.baseurl }}/images/{{ include.post.image.src }}" alt="{{ include.post.image.caption }}"/>
    </a>
  {% endif %}
  <cite class="caption">{{ include.post.image.caption }}</cite>
{% endif %}
