{% if include.post.image %}
<div class="tlo-image">
  <span class="image featured">
    {% if page.layout == 'index' %}
      <a href="{{ include.post.url }}">
        <img src="{{ site.baseurl }}/images/{{ include.post.image.src }}" alt="{{ include.post.image.caption }}" />
      </a>
    {% else %}
      <a href="{{ site.baseurl }}/images/{{ include.post.image.src }}" data-lightbox="include.post.image.src" data-title="{{ include.post.image.caption }}">
        <img src="{{ site.baseurl }}/images/{{ include.post.image.src }}" alt="{{ include.post.image.caption }}"/>
      </a>
    {% endif %}
    <p class="caption">{{ include.post.image.caption }}</p>
  </span>
</div>
{% endif %}
