<footer>
  <!-- Share -->
  <ul class="icons">
    <li><a class="fa-twitter" onclick="return !window.open(this.href, 'Share to Twitter', 'width=500,height=250')" target="_blank" href="http://twitter.com/share?text={{ include.post.title }}&url={{ site.url }}{{ include.post.url }}&via={{ site.social.twitter }}&related={{ site.social.twitter }}"> Share on Twitter</a></li>
    <li><a class="fa-facebook" onclick="return !window.open(this.href, 'Share to Facebook', 'width=500,height=600')" target="_blank" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ include.post.url }}&p[title]={{ include.post.title }}"> Share on Facebook</a></li>
    <li><i class="fa-calendar"></i> Posted on <time class="published" datetime="2015-11-01">{{ include.post.date | date: "%B %-d, %Y" }}</time></li>
    <li><i class="fa-file-text-o"></i> {% for category in include.post.categories%}{{ category }}{% unless forloop.last %} &bull; {% endunless %}{% endfor %}</li>
  </ul>
</footer>
