{% if include.post.audio %}
  {% include components/audio_player.html airdate=page.airdate %}
{% elsif include.post.image %}
  {% if page.layout == 'index' %}
    <a href="{{ include.post.url }}" class="image featured">
      <img src="/images/{{ include.post.image.src }}" alt="{{ include.post.image.caption }}" />
    </a>
  {% else %}
    <a href="/images/{{ include.post.image.src }}" class="image featured" data-lightbox="{{ include.post.image.src }}" data-title="{{ include.post.image.caption }}">
      <img src="/images/{{ include.post.image.src }}" alt="{{ include.post.image.caption }}"/>
    </a>
  {% endif %}
  <cite class="caption">{{ include.post.image.caption }}</cite>
{% endif %}

{% if include.post.link_url and include.post.link_type == 'mixcloud' %}
  <iframe width="100%" style="margin-bottom: 1em;" height="120" src="{{ include.post.link_url }}" frameborder="0"></iframe>
{% endif %}
