{% assign schedule = site.data.schedule | where: 'future', 'x' | sort: 'date' %}

<table class="tlo-schedule">
  <thead>
    <tr>
      <th width="25%">Date</th>
      <th width="25%">Time</th>
      <th width="25%">Location</th>
      <th width="25%">Notes</th>
    </tr>
  </thead>
  <tbody>
  {% for item in schedule %}
    <tr class="track">
      <td>{{ item["date"] | date: '%B %d, %Y' }}</td>
      <td>
        {{ item["start_time"] }} - {{ item["end_time"] }} {{ item["time_zone"] }}
      </td>
      <td>
          {% if item['location'] == 'kafm' %}
            <a href="https://kafmcommunityradio.org/" target="_blank">KAFM Grand Junction</a>
          {% elsif item['location'] == 'ltw' %}
            <a href="https://louderthanwar.com/louder-than-war-radio/" target="_blank">Louder Than War Internet Radio</a>
          {% else %}
            <a href="https://www.mixcloud.com/live/the-lacking-org/" target="_blank">Mixcloud</a>
          {% endif %}
      </td>
      <td>{{ item["notes"] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
