{% assign category = site.data.category_index[include.category] %}
{% assign latest = site.categories[include.category] | first %}
<article class="mini-post">
  {% assign next_airdate = site.data.schedule | where:"future", "x" | sort: "date" | first %}
  <header>
    <h3>
      <a href="{{ site.baseurl }}/{{ latest.categories | first }}">{{ category.title }}</a>
    </h3>
    <time class="published">
      {{ category.summary }}
    </time>
  </header>
  <a href="{{ site.baseurl }}/{{ latest.categories | first }}" class="image"><img src="{{ site.baseurl }}/images/{{ latest.image.src }}" alt="" /></a>
</article>
