{% assign next_airdate = site.data.schedule | where:"future", "x" | sort: "date" | first %}
<div class="your-host">
  <a href="{{ site.baseurl }}{% link pages/your_host.md %}">
    <img src="/images/contributors/jclacking.png">
    <h2>Your Host</h2>
    <h3>Julius C. Lacking</h3>
  </a>
  <p class="airdate">Next airdate: {{ next_airdate['date'] | date: "%b %-d, %Y" }}, {{ next_airdate['start_time'] }} - {{ next_airdate['end_time'] }} {{ next_airdate['time_zone'] }}</p>
  <p class="location">KAFM Grand Junction 88.1 FM / <a href="http://www.kafmradio.org" target="_blank">kafmradio.org</a></time>
</div>
