---
import Heading from "~/components/tlo/ui/Heading.astro"
import { nextAirdate, localTimeZone } from "~/utils/tlo"
---
<div class="tlo-next-airdate">
	<Heading
		kicker="Next airdate:"
		title={`${nextAirdate.start_string}<br>${localTimeZone}`}
		subtitle={nextAirdate.location}
	/>
</div>