---
import type { Post } from "~/types";

import { fetchPosts } from "~/utils/blog";
import Item from '~/components/tlo/widgets/Item.astro';
import Heading from "../ui/Heading.astro";

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const fetchedPosts = await fetchPosts();
const recentPosts = fetchedPosts.filter((pp) => pp.permalink !== post.permalink).slice(0, 5);
---

<div class="tlo-recent-posts">

  <!-- Heading -->
  <Heading title="Recently" />

  <!-- Recent Post -->
  <div class="tlo-recent-items">
    {recentPosts.map((post) => (
      <Item post={post} variant="micro" />
    ))}
  </div>
</div>

