---
import Wrapper from "./Wrapper.astro";
import Image from '~/components/common/Image.astro';
import { findImage } from '~/utils/images';
const yourHost = await findImage('/images/jclacking.png') as ImageMetadata
---
<Wrapper>
	<Image
		class="rounded-full"
		src={yourHost}
		alt="Your Host"
	/>
	<h2>Your Host</h2>
	<h3>Julius C. Lacking</h3>
</Wrapper>