---
import Image from '~/components/ui/Image.astro';
import { findImage } from '~/utils/images';
const yourHost = await findImage('/images/jclacking.png') as ImageMetadata
---
<div class="your-host flex flex-col items-center">
	<Image
		class="your-host-image rounded-full"
		src={yourHost}
		alt="Your Host"
		layout="fixed"
	/>
	<h2 class="your-host-title">Your Host</h2>
	<h3 class="your-host-name">Julius C. Lacking</h3>
</div>
