---
// ------------
// Your Host ==
// ------------

import Image from '~/components/tlo/ui/Image.astro';
import { findImage } from '~/utils/images';
const yourHost = await findImage('/images/jclacking.png') as ImageMetadata
---

<!-- TODO: Clean up TW -->
<div class="tlo-your-host flex flex-col items-center">
	<Image
		class="tlo-your-host-image rounded-full"
		src={yourHost}
		alt="Your Host"
		layout="fixed"
	/>
	<h2 class="tlo-your-host-title">Your Host</h2>
	<h3 class="tlo-your-host-name">Julius C. Lacking</h3>
</div>
