<section id="footer">
  <ul class="icons">
    <li><a href="https://twitter.com/jclacking" class="fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.facebook.com/jclacking" class="fa-facebook"><span class="label">Facebook</span></a></li>
    <!-- li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li -->
    <li><a href="{{ site.baseurl }}/feed.xml" class="fa-rss"><span class="label">RSS</span></a></li>
    <!-- li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li -->
  </ul>
  <p class="copyright">&copy; Julius C. Lacking &bull; All rights reserved</p>
</section>
