<header id="header">
  <!-- Home -->
  <h1><a href="/">the.lacking.org</a></h1>
  <!-- Links -->
  <nav class="links">
    <ul>
      <!-- Subscribe -->
      <li>
        <a href="/newsletter" class="button" style="font-weight: bold;">Subscribe!</a>
      </li>
      <li><a href="https://twitter.com/jclacking">On Twitter</a></li>
      <li><a href="https://www.facebook.com/jclacking">On Facebook</a></li>
      <!-- <li><a href="https://www.youtube.com/user/jclacking/playlists">On YouTube</a></li> -->
      <li><a href="https://www.mixcloud.com/the-lacking-org/">On Mixcloud</a></li>
      <li>
        <ul class="icons">
          <li><a href="/feed.xml" class="fa-rss"><span class="label">RSS</span></a></li>
          <!-- li><a href="https://twitter.com/jclacking" class="fa-twitter"><span class="label">Twitter</span></a></li -->
          <!-- li><a href="https://www.facebook.com/jclacking" class="fa-facebook"><span class="label">Facebook</span></a></li -->
          <!-- li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li -->
          <!-- li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li -->
        </ul>
      </li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <!-- Search -->
      <!-- li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form id="search" method="get" action="/search">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </li -->
      <!-- Menu -->
      <li class="menu">
        <a class="fa-bars" href="#menu">Menu</a>
      </li>
    </ul>
  </nav>
</header>
<data id="mj-w-res-data" data-token="9b5f4f0a03c49b0da4c727624fea9bc1" class="mj-w-data" data-apikey="6Foe" data-w-id="Jcv" data-lang="en_US" data-base="https://app.mailjet.com" data-width="640" data-height="341" data-statics="statics"></data>
