<header id="header">
  <!-- Home -->
  <h1><a href="{{ site.baseurl }}/">{% if page.home %}Home{% else %}{{ site.title }}{% endif %}</a></h1>
  <!-- Links -->
  <nav class="links">
    <ul>
      <li><a href="{{ site.baseurl }}{% link pages/schedule.md %}">Schedule</a></li>
      <li><a href="{{ site.baseurl }}{% link pages/playlists.md %}">Playlists</a></li>
      <li><a href="{{ site.baseurl }}{% link pages/listen.md %}">Listen</a></li>
      <li><a href="{{ site.baseurl }}{% link pages/the_show.md %}">The Show</a></li>
      <li><a href="{{ site.baseurl }}{% link pages/your_host.md %}">Your Host</a></li>
      <li><a href="{{ site.baseurl }}{% link pages/contact.md %}">Contact</a></li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <!-- Search -->
      <li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form id="search" method="get" action="#">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </li>
      <!-- Menu -->
      <!-- li class="menu">
        <a class="fa-bars" href="#menu">Menu</a>
      </li -->
    </ul>
  </nav>
</header>
