<header id="header">
  <!-- Home -->
  <h1><a href="{{ site.baseurl }}/">Home</a></h1>
  <!-- Links -->
  <nav class="links">
    <ul>
      <li><a href="{{ site.baseurl }}{% link pages/radio_activity.md %}">Radio Activity</a></li>
      <li><a href="{{ site.baseurl }}{% link pages/your_host.md %}">Your Host</a></li>
      <!-- li><a href="{{ site.baseurl }}{% link pages/contact.md %}">Contact</a></li -->
      <li><a href="https://twitter.com/jclacking">On Twitter</a></li>
      <li><a href="https://www.facebook.com/jclacking">On Facebook</a></li>
      <li>
        <ul class="icons">
          <li><a href="{{ site.baseurl }}/feed.xml" class="fa-rss"><span class="label">RSS</span></a></li>
          <!-- li><a href="https://twitter.com/jclacking" class="fa-twitter"><span class="label">Twitter</span></a></li -->
          <!-- li><a href="https://www.facebook.com/jclacking" class="fa-facebook"><span class="label">Facebook</span></a></li -->
          <!-- li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li -->
          <!-- li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li -->
        </ul>
      </li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <!-- Search -->
      <li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form id="search" method="get" action="#">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </li>
      <!-- Menu -->
      <li class="menu">
        <a class="fa-bars" href="#menu">Menu</a>
      </li>
    </ul>
  </nav>
</header>
