{% assign index = page.title | append: ' ' | append: page.subtitle | strip %}
{% if page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description = page.excerpt | strip_html | strip_newlines %}
{% endif %}
<meta name="description" content="{{ description }}">
<meta name="index" content="{{ index }}">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="layout" content="{{ page.layout }}">
<meta name="category" content="{{ page.categories[0] | capitalize }}">
<meta name="last_modified" content="{{ page.last_modified_at | date: '%F %T' }}">
