<script src="{{ site.baseurl }}/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/assets/js/browser.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/assets/js/breakpoints.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/assets/js/util.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/assets/js/main.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/assets/js/lightbox.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
    if (window.location.pathname == '/search') {
      var query_term = RegExp('[?&]q=([^&]*)').exec(window.location.search)[1];
      $.getJSON( "https://hw87e7ielk:s7mrjptjn9@tlo-testing-5782922639.us-west-2.bonsaisearch.net/_search?q="+query_term, function( data ) {
        var items = [];
        $.each( data, function( key, val ) {
          items.push( "<li id='" + key + "'>" + val + "</li>" );
        });
        $( "<ul/>", {
          "class": "my-new-list",
          html: items.join( "" )
        }).appendTo( "article.tlo-page" );
      });
      console.log(match);
    }
  })
</script>
