<section id="sidebar" class="tlo-sidebar">

  <!-- Header -->
  {% if page.layout == 'home' or page.layout == 'index' %}
    {% include components/banner.html %}
  {% endif %}

  <!-- Recently -->
  <section id="tlo-latest">
    <h2>Recently</h2>
    {% include components/recently.html posts=site.posts limit=5 %}
  </section>

  <!-- About -->
  <section id="tlo-about" class="blurb">
    <a href="{% link pages/your_host.md %}">
      <h2 class="link">About the.lacking.org</h2>
    </a>
    <p>{{ site.description }}</p>
  </section>

  <!-- Footer -->
  {% include layout/footer.html %}

</section>
