<section id="sidebar" class="tlo-sidebar">

  <!-- Header -->
  <section id="intro">
    {% include components/banner.html %}
  </section>

  <!-- Recently -->
  <section id="tlo-latest">
    <h2>Recently</h2>
    {% include components/latest.html posts=site.posts limit=5 %}
  </section>

  <!-- About -->
  <section id="tlo-about" class="blurb">
    <h2>About</h2>
    <p>{{ site.description }}</p>
    <!-- ul class="actions">
      <li><a href="#" class="button">Learn More</a></li>
    </ul -->
  </section>

  <!-- Footer -->
  {% include layout/footer.html %}

</section>
