---
// ------------------
// Header (Widget) ==
// ------------------

// Configuration
import { TLO } from "~/utils/config";

// TLO Components
import Button from "~/tlo/ui/Button.astro"
import Logo from "~/tlo/widgets/Logo.astro";
import ToggleTheme from "~/tlo/widgets/ToggleTheme.astro";
import ToggleMenu from "~/tlo/widgets/ToggleMenu.astro";

// Astro Utils
import { getHomePermalink } from "~/utils/permalinks";
import { trimSlash, getAsset } from "~/utils/permalinks";
import type { CallToAction } from "~/types";

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends CallToAction {}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const {
  id = "header",
  links = [],
  actions = [],
  isSticky = false,
  isDark = false,
  isFullWidth = false,
  showToggleTheme = false,
  showRssFeed = false,
  position = "center",
} = Astro.props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`
---

<header id="header">
  <h1><a href={getHomePermalink()}>
    <Logo />
  </a></h1>
  <nav class="links">
    <ul>
      <li><a href="https://facebook.com/jclacking">On Facebook</a></li>
      <li><a href="https://mixcloud.com/the-lacking-org/">On Mixcloud</a></li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <!-- <li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form id="search" method="get" action="#">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </li> -->
      <li class="menu">
        <a class="fa-bars" href="#menu">Menu</a>
      </li>
    </ul>
  </nav>
</header>
