---
// ---------------
// Latest Posts ==
// ---------------

// Typescript
import type { Widget } from "~/types";
export interface Props extends Widget {
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  count?: number;
}


// Configuration
import { APP_BLOG } from "~/utils/config";

// TLO Components
import Button from "~/tlo/ui/Button.astro";
import Archive from '~/tlo/widgets/PostListing.astro';

// Utilities
import { findLatestPosts } from "~/utils/blog";
import { getMorePosts } from "~/utils/tlo"

const linkText = "View more posts"
const linkUrl = getMorePosts()
const count = APP_BLOG.postsPerPage
const posts = await findLatestPosts({ count });
---

<Archive posts={posts} />

<Button variant="link" href={linkUrl}> {linkText} »</Button>
