---
import { SITE } from '~/utils/config';
import Image from '~/tlo/ui/Image.astro';
import { findImage } from '~/utils/images';
const reel = await findImage('/images/reel.png') as ImageMetadata
---
<div class="tlo-logo">

  <!-- Tape Reel -->
  <Image
    width={20}
    aspectRatio={1}
    src={reel}
    alt={SITE?.name}
  />

  <!-- Site Name -->
  {SITE?.name}

</div>