---
// ---------------
// Next Airdate ==
// ---------------

// TLO Components
import Heading from "~/tlo/ui/Heading.astro"

// Utility
import { nextAirdate, localTimeZone } from "~/utils/tlo"
---

<div class="tlo-box tlo-next-airdate">
	<Heading
		kicker="Next airdate:"
		title={`${nextAirdate.start_string}<br>${localTimeZone}`}
		subtitle={nextAirdate.location}
	/>
</div>