---

export interface Props {
  prevUrl?: string;
  nextUrl?: string;
  prevText?: string;
  nextText?: string;
}

const { prevUrl, nextUrl, prevText = 'more recently', nextText = 'less recently' } = Astro.props;
---

{
  (prevUrl || nextUrl) && (
    <ul class="actions pagination">
      { prevUrl && (
        <li><a href="" class="disabled button large previous">{ prevText }</a></li>
      )}
      { nextUrl && (
        <li><a href="#" class="button large next">{ nextText }</a></li>
      )}
    </ul>
  )
}
