---

export interface Props {
  prevUrl?: string;
  nextUrl?: string;
  prevText?: string;
  nextText?: string;
}

const { prevUrl, nextUrl, prevText = 'more recently', nextText = 'less recently' } = Astro.props;
---

<article class="post">
  {
    (prevUrl || nextUrl) && (
      <ul class="actions pagination">
        { prevUrl && (
          <li><a href={prevUrl} class="disabled button large previous" set:html={prevText} /></li>
        )}
        { nextUrl && (
          <li><a href={nextUrl} class="button large next" set:html={nextText} /></li>
        )}
      </ul>
    )
  }
</article>
