---
// ---------
// Player ==
// ---------

const { media } = Astro.props
// TODO: YouTube playlist support
---

<div class="tlo-player">
	<iframe
		width="100%"
		style="margin-bottom: 1em;"
		height="120"
		src={media}
	></iframe>
</div>
