---
// -----------
// Playlist ==
// -----------

const { playlist } = Astro.props
---
<div class="tlo-playlist">
	<table>
		<thead>
			<tr>
				<th>Song</th>
				<th>Artist</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>								
			{playlist.map((entry: any) => (
				<tr>
					{ entry.artist ? (
						<td>{entry.song}</td>
						<td>{entry.artist}</td>
						<td>{entry.notes}</td>
					) : (
						<td colspan="4"><hr></td>
					)}
				</tr>
			))}
		</tbody>
	</table>
</div>
