---
import { schedule } from '~/utils/tlo'
---
<div class="tlo-schedule">
	<table>
		<tbody>
			{schedule.map((entry: any) => (
				<tr>
					<td>{entry.start_string}</td>
					<td>{entry.location}</td>
					<td>{entry.notes}</td>
				</tr>
			))}
		</tbody>
	</table>
</div>