---
// -------------
// Site Index ==
// -------------

import { TLO } from "~/utils/config";

// Utilities
import { getPermalink } from "~/utils/permalinks"
import MiniItem from "./MiniItem.astro";
const categoryIndex = ['mixtapes','playlists']

---
<section>
  <ul class="posts">
    {
      categoryIndex.map((category) => (
        <li>
          <MiniItem
            title={TLO?.categories[category].title || category}
            description={TLO?.categories[category].description}
            image={`images/${TLO?.categories[category].icon}`}
            link={getPermalink(category, 'category')}
          />
        </li>
      ))
    }
  </ul>
</section>