---
layout: tlo
---
<!-- Index Header -->
{% unless page.autogen == nil %}
  {% assign category = site.data.category_index[page.pagination.category] %}
  <article class="post tlo-index-excerpt">
    <header>
      <!-- Title -->
      <div class="title">
        <h3>
          {{ paginator.posts | size }} of {{ paginator.total_posts }}
        </h3>
        <p>
          Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}
        </p>
      </div>
    </header>
    <!-- Description -->
    {% if page.autogen == nil %}
      <h4>{{ category.description }}</h4>
    {% endif %}
  </article>
{% endunless %}

<article class="post tlo-index-details">
  <div class="mini-posts">
    {% for post in paginator.posts %}

      <!-- Post Excerpt -->
      {% include components/details_excerpt.html post=post %}

    {% endfor %}

    <!-- Pagination -->
    {% if page.pagination.enabled %}
      {% include components/index_pagination.html %}
    {% endif %}
  </div>
</article>
