---
layout: tlo
---
<!-- Index Header -->
{% unless page.autogen == nil %}
  {% assign category = site.data.category_index[page.pagination.category] %}
  <article class="post tlo-index-excerpt">
    <header>
      <!-- Title -->
      <div class="title">
        <p>
          Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}
        </p>
      </div>
    </header>
    <!-- Description -->
    {% if page.autogen == nil %}
      <h4>{{ category.description }}</h4>
    {% endif %}
  </article>
{% endunless %}

{% if page.pagination.enabled %}

  {% for post in paginator.posts %}

    <!-- Post Excerpt -->
    {% include components/excerpt.html post=post %}

  {% endfor %}

  <!-- Pagination -->
  {% include components/index_pagination.html %}

{% else %}

  {% for post in page.posts %}

    <!-- Post Excerpt -->
    {% include components/excerpt.html post=post %}

  {% endfor %}
{% endif %}
