---
layout: tlo
---
<div class="index">
  <!-- Header -->
  <header>
    <!-- Title -->
    {% include components/post_title.html post=page %}
    <!-- Meta -->
    {% include components/post_meta.html post=page %}
  </header>

  <!-- Audio Player -->
  {% include components/audio_player.html airdate=page.airdate %}

  <!-- Content -->
  {{ content }}

  <!-- Playlist -->
  {% include components/artists.html post=page %}
  {% include components/playlist.html post=page %}
</div>

<!-- Footer -->
{% include components/post_footer.html post=page %}

<!-- Pagination -->
{% include components/post_pagination.html post=page %}

<!-- Player JS -->
{% include components/audio_script.html post=page %}
