---
layout: tlo
---
<article class="post">

  <!-- Header -->
  <header>
    <!-- Title -->
    {% include components/post_title.html post=page %}
    <!-- Meta -->
    {% include components/post_meta.html post=page %}
  </header>

  <!-- Audio Player -->
  {% include components/audio_player.html airdate=page.airdate %}

  <!-- Content -->
  {{ content }}

  <!-- Playlist -->
  {% assign podcast_playlist = site.data.master_playlist | where:"podcast_airdate", page.airdate | sort: "podcast_sequence" %}
  {% include components/artists.html playlist=podcast_playlist %}
  {% include components/playlist.html playlist=podcast_playlist %}

  <!-- Footer -->
  {% include components/post_footer.html post=page %}

  <!-- Pagination -->
  {% include components/post_pagination.html post=page %}

  <!-- Player JS -->
  {{ airdate }}
  {% include components/audio_script.html airdate=page.airdate %}

</article>
