<!DOCTYPE HTML>
<html>
  <head>

    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Styles -->
    {% include layout/styles.html %}

  </head>
  <body class="single">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
      {% include layout/header.html %}

      <!-- Menu -->
      {% include layout/menu.html %}

      <!-- Main -->
      <div id="main">

        <!-- Post -->
        <article class="post">

          <!-- Header -->
          <header>
            <!-- Title -->
            {% include components/post_title.html post=page %}
            <!-- Meta -->
            {% include components/post_meta.html post=page %}
          </header>

          <!-- Image -->
          {% include components/post_image.html post=page %}

          <!-- Content -->
          {{ content }}

          <!-- Footer -->
          {% include components/post_footer.html post=page %}

          <!-- Pagination -->
          {% include components/post_pagination.html post=page %}

        </article>

          </div>

        <!-- Footer -->
        {% include layout/footer.html %}

      </div>

    <!-- Scripts -->
    {% include layout/scripts.html %}

  </body>
</html>
