<!DOCTYPE HTML>
<html>
  <head>

    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Styles -->
    {% include layout/styles.html %}

  </head>
  <body class="single">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
      {% include layout/header.html %}

      <!-- Menu -->
      {% include layout/menu.html %}

      <!-- Main -->
      <div id="main">

        <!-- Post -->
        {% include components/post.html post=page %}

      </div>

      <!-- Footer -->
      {% include layout/footer.html %}

    </div>

    <!-- Scripts -->
    {% include layout/scripts.html %}

  </body>
</html>
