<!DOCTYPE HTML>
<html>
  <head>
    <title>TLO :: {{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <!-- Indexing -->
    {% include layout/indexing.html %}

    <!-- Styles -->
    {% include layout/styles.html %}

  </head>
  {% if page.layout == 'page' %}
    <body class="is-preload single">
  {% else %}
    <body class="is-preload">
  {% endif %}

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
      {% include layout/header.html %}

      <!-- Menu -->
      {% include layout/menu.html %}

      <!-- Main -->
      <div id="main">

        <!-- Content -->
        {{ content }}

      </div>

      <!-- Sidebar -->
      {% if page.layout == 'page' %}
        {% include layout/footer.html %}
      {% else %}
        {% include layout/sidebar.html %}
      {% endif %}

    </div>

    <!-- Scripts -->
    {% include layout/scripts.html %}

  </body>
</html>
