<!DOCTYPE HTML>
<html>
  <head>

    <title>TLO :: {{ page.title }}</title>
    <meta charset="utf-8" />

    <!-- Indexing -->
    {% include layout/indexing.html %}

    <!-- FB Open Graph -->
    {% include layout/meta.html %}

    <!-- Styles -->
    {% include layout/styles.html %}

    <!-- Icons -->
    {% include layout/icons.html %}

  </head>
  {% if page.layout == 'page' %}
    <body class="is-preload single">
  {% else %}
    <body class="is-preload">
  {% endif %}

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
      {% include layout/header.html %}

      <!-- Menu -->
      {% include layout/menu.html %}

      <!-- Main -->
      <div id="main">

        <!-- Content -->
        {{ content }}

      </div>

      <!-- Sidebar -->
      {% if page.layout == 'page' %}
        {% include layout/footer.html %}
      {% else %}
        {% include layout/sidebar.html %}
      {% endif %}

    </div>

    <!-- Scripts -->
    {% include layout/scripts.html %}

  </body>
</html>
