---
// import '~/assets/styles/tailwind.css';
// import '~/assets/styles/lacking.scss';
import '~/assets/styles/main.scss';
import '~/assets/styles/font-awesome.min.css';

import { I18N } from '~/utils/config';

import CommonMeta from '~/tlo/meta/CommonMeta.astro';
import Favicons from '~/tlo/meta/Favicons.astro';
import CustomStyles from '~/tlo/meta/CustomStyles.astro';
import Metadata from '~/tlo/meta/Metadata.astro';
import SiteVerification from '~/tlo/meta/SiteVerification.astro';
import Analytics from '~/tlo/meta/Analytics.astro';
import BasicScripts from '~/tlo/meta/BasicScripts.astro';

// Uncomment line below to activate View Transitions
import { ViewTransitions } from 'astro:transitions';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection}>
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />

    <!-- Uncomment line below to activate View Transitions -->
    <ViewTransitions fallback="swap" />
  </head>

  <body class="is-preload">
    <slot />

    <BasicScripts />

    <data id="mj-w-res-data" data-token="9b5f4f0a03c49b0da4c727624fea9bc1" class="mj-w-data" data-apikey="6Foe" data-w-id="Jcv" data-lang="en_US" data-base="https://app.mailjet.com" data-width="640" data-height="341" data-statics="statics"></data>

    <style is:global> img { content-visibility: auto; } </style>
  </body>
</html>
